.buffet-container {
    max-width: 800px;
    margin: 0 auto 4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buffet-container .contact-details {
    align-items: flex-start;
}

.buffet-menu-container {
    display: flex;
    justify-content: center;
}
