.dinerbon-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .dinerbon-title {
        text-align: center;
    }

    .dinerbon-container {
        flex-direction: row;
    }

    .dinerbon-container h3 {
        margin-bottom: 1rem;
    }
}
