footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--txt-color);
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.opening-hours p, .contact-details p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.opening-hours, .address, .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    gap: 1rem;
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer .container {
        align-items: flex-start;
    }

    .opening-hours, .address, .contact-details {
        align-items: flex-start;
    }
}
