footer {
    padding: 2rem;
    background-color: var(--txt-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.opening-hours p, .contact-details p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.opening-hours, .address, .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening-hours-footnote {
    margin-top: 0.5rem;
    max-width: 300px;
}

.icons {
    display: flex;
    gap: 1rem;
}

.footnote {
    font-family: "Manrope", serif;
    align-self: center;
}

.footnote a {
    color: inherit;
    transition: .5s;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-container .container {
        align-items: flex-start;
    }

    .opening-hours, .address, .contact-details {
        align-items: flex-start;
    }
}
