/* Hero Component */
.hero, .hero .txt-container {
    width: 100%;
    height: 95vh;
}

.hero {
    margin-top: -6rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero.jpg");
    background-size: cover;
    background-position: center;
}

.hero .txt-container {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero .txt-container h1 {
    text-align: center;
    text-shadow: 0 0 10px var(--txt-color);
    font-family: "Spectral", serif;
}

.hero .txt-container button {
    font-family: "Spectral", serif;
    padding: 1rem 3rem;
}

/* HighlightsSection Component */
.highlights {
    padding: 0 1rem;
    margin: 1rem auto 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.highlight {
    min-height: 220px;
    display: flex;
    flex-direction: column;
}

.highlight img {
    margin-bottom: 1.25rem;
}

.highlight .txt-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 auto;
}

.highlight .btn {
    margin-top: auto;
}

/* ImageGrid Component */
.image-grid-container {
    margin-bottom: 4rem;
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.image-grid-container::-webkit-scrollbar {
    display: none;
}

.image-grid-item {
    flex: 0 0 85%;
    scroll-snap-align: start;
    display:flex;
    flex-direction:column;
}

.image-grid-item .image-wrapper {
    width: 100%;
    height: 550px;
}

.image-grid-item .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-item p, .image-grid-item a {
    padding-left: 1rem;
}

.image-grid-item p {
    margin: 1rem 0;
}

.image-grid-item a {
    text-decoration: underline;
}

/* BookYourTable Component */
.booking-cta-container {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--txt-color);
}

.booking-cta-container .txt-container {
    padding: 0 1rem 4rem;
}

.booking-cta-container .txt-container h2 {
    margin: 2.5rem 0;
}

.booking-cta-container .txt-container .desc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* AboutUs Component */
.about-us-container {
    margin-bottom: 4rem;
    padding: 1rem 1rem;
    width: 100%;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-us .txt-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-us .txt-container .desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
    .image-grid-item .image-wrapper {
        height: 300px;
    }
    
    .hero, .hero .txt-container {
        height: 100vh;
    }
}

/* Media screens */
@media (min-width: 769px) {
    .image-grid-item {
        flex: 0 0 65%;
    }

    .image-grid-item .image-wrapper {
        height: 450px;
    }

    .image-grid-item p, .image-grid-item a {
        padding-left: 2rem;
    }
    
    .hero .txt-container {
        padding: 0 1rem 3rem;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2rem;
    }
}

@media (min-width: 1024px) {
    .hero, .hero .txt-container {
        height: 85vh;
    }

    .highlights {
        padding: 3rem 3rem 0;
        flex-direction: row;
    }

    .booking-cta-container {
        flex-direction: row-reverse;
    }

    .booking-cta-container .txt-container {
        padding: 4rem 1rem;
    }

    .about-us-container {
        padding: 3rem 3rem;
    }

    .about-us {
        flex-direction: row;
    }

    .about-us img, .booking-cta-container img {
        width: 50%;
    }

    .txt-container:not(.hero .txt-container):not(.highlight .txt-container) {
        justify-content: center;
        margin: 0 auto;
        max-width: 350px;
    }

    .txt-container h2 {
        font-size: 1.875rem;
    }
}
