/* Hero Component */
.hero, .hero .txt-container {
    width: 100%;
    height: 95vh;
}

.hero {
    margin-top: -6rem;
    background-image: url("../assets/restaurant-front.jpg");
    background-size: cover;
    background-position: center;
}

.hero .txt-container {
    padding: 0 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

.hero .txt-container h1 {
    text-shadow: 0 0 10px var(--txt-color);
}

.hero .txt-container button {
    font-family: "Spectral", serif;
    padding: 1rem 3rem;
    align-self: flex-start;
}

/* HighlightsSection Component */
.highlights {
    padding: 0 1rem;
    margin: 1rem auto 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.highlight {
    min-height: 220px;
    display: flex;
    flex-direction: column;
}

.highlight img {
    margin-bottom: 1.25rem;
}

.highlight .txt-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 auto;
}

.highlight .btn {
    margin-top: auto;
}

/* BookYourTable Component */
.booking-cta-container {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--txt-color);
}

.booking-cta-container .txt-container {
    padding: 0 1rem 4rem;
}

.booking-cta-container .txt-container h2 {
    margin: 2.5rem 0;
}

.booking-cta-container .txt-container .desc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* AboutUs Component */
.about-us-container {
    margin-bottom: 4rem;
    padding: 1rem 1rem;
    width: 100%;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-us .txt-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-us .txt-container .desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Media screens */
@media (min-width: 1024px) {
    .hero, .hero .txt-container {
        height: 85vh;
    }

    .highlights {
        padding: 3rem 3rem 0;
        flex-direction: row;
    }

    .booking-cta-container {
        flex-direction: row-reverse;
    }

    .booking-cta-container .txt-container {
        padding: 4rem 1rem;
    }

    .about-us-container {
        padding: 3rem 3rem;
    }

    .about-us {
        flex-direction: row;
    }

    .about-us img, .booking-cta-container img {
        width: 50%;
    }

    .txt-container:not(.hero .txt-container) {
        justify-content: center;
        margin: 0 auto;
        max-width: 350px;
    }

    .txt-container h2 {
        font-size: 1.875rem;
    }
}
