:root {
    --bg-color: #FFFFFF;
    --txt-color: #222222;
    --btn-bg-color: #954130;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spectral", serif;
}

/* Typography */
h1, h2, h3 {
    font-family: "Domine", serif;
}

h1, h2, h3, p, a {
    color: var(--txt-color);
}

a, button {
    text-decoration: none;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
}

/* Layout */
body {
    background-color: var(--bg-color);
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.contact-details p a, .icons a {
    transition: .5s;
}

.contact-details p a:hover, .icons a:hover, .footnote a:hover {
    color: #7a7a7a;
}

.container:not(footer .container) {
    max-width: 750px;
    margin: 2rem auto 4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Utility */
/* Font sizes */
.font-size-14 {
    font-size: 0.875rem;
}

.font-size-16 {
    font-size: 1rem;
}

.font-size-18 { 
    font-size: 1.125rem;
}

.font-size-20 {
    font-size: 1.25rem;
}

.font-size-24 {
    font-size: 1.5rem;
}

.font-size-28 {
    font-size: 1.75rem;
}

.font-size-32 {
    font-size: 2rem;
}

/* Font weights */
.font-weight-400 {
    font-weight: 400;
}

.font-weight-600 {
    font-weight: 600;
}

/* General */
.max-width-1400 {
    max-width: 1400px;
}

.side-margin-auto {
    margin: 0 auto;
}

/* Text */
.txt-center {
    text-align: center;
}

.color-light {
    color: var(--bg-color);
}

/* Buttons */
.btn {
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    transition: .5s;
}

.primary-btn {
    border: 2px solid var(--btn-bg-color);
    color: var(--btn-bg-color);
}

.primary-btn:hover {
    background-color: var(--btn-bg-color);
    color: var(--bg-color);
}

.sec-btn {
    background-color: var(--btn-bg-color);
    color: var(--bg-color);
}

.sec-btn:hover {
    background-color: #743225;
}

.active {
    text-decoration: underline;
}
