.menu-nav {
    display: flex;
    gap: 0.5rem;
}

.menu-nav a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

@media (min-width: 768px) {
    .container button {
        align-self: center;
    }
}
